/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/* test of custom classes */

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

 /* defaults from original nnuxt layout */

 html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }

  /* custom addons */

  /* html tag styling */

  h1, h2, h3, h4, h5, h6 {
    @apply font-light;
  }

  p {

  }


 .my-special-border {
    @apply border border-red;
}

.btn, button {
  @apply p-4 border border-grey rounded-lg no-underline uppercase font-semibold text-grey-darker;
  transition: background-color 0.25s ease-in;
}

.btn:hover, button:hover {
  @apply bg-secondary text-white;
}

.btn-primary {
  @apply bg-primary text-white border-none;
}

.btn-tertiary {
  @apply border-none text-grey bg-transparent;
}

h1 {
  @apply my-4 font-light;
}

label {
  @apply block mt-4 text-sm;
}

select, input[type="password"], input[type="text"] {
  @apply w-full h-12 pl-2 mt-2 rounded border border-grey bg-white;
}

.wizard-button {
  @apply mt-12 w-64 text-center;
}

.wizard-splash-icon {
  @apply my-4 text-grey-light cursor-default;
  font-size: 10rem;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

.transition-all {
  transition: all 0.5s ease-in;
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
